<div class="profilePage">
  <h1> 2023 Fashion Trends :) </h1>
  <img
    src="https://image.winudf.com/v2/image1/Y29tLmFwcGlubWludXRlcy5hbmRyb2lkNWU5YTJjOTg5NDY1Nl9zY3JlZW5fMF8xNTkxMjk4MTU5XzA2Mw/screen-0.jpg?fakeurl=1&type=.jpg"
    alt="Funny Cat Picture"
  />
</div>