<div class="profilePage">
  <h1>{{user.username}}{{userInDB.username}}'s profile</h1>
  <h2>Email: {{user.email}}{{userInDB.email}}</h2>
  <div class="editBtn">
    <a href="/profile/edit">Edit username</a>
  </div>
</div>